.hero {
    
}

.hero_container {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    padding: 0 25px;
    margin: 0 auto;
}

.hero_text {
    font-weight: 500;
    color: var(--color-blue);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero_title {
    font-weight: 800;
    font-size: 40px;
    line-height: 140%;
    margin-bottom: 30px;
}

.hero_title span {
    color: var(--color-blue);
}

.hero_buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hero_wabutton {
    display: flex;
    align-items: center;
    background: #25D366;
    color: var(--color-light);
    padding: 15px 30px;
    border-radius: 40px;
    transition: all 0.3s ease-in;
}

.hero_wabutton:hover {
    background: #21be5b;
}

.hero_dlbutton {
    display: flex;
    align-items: center;
    font-weight: 500;
    opacity: 0.8;
    white-space: nowrap;
}

.hero_dlbutton:hover {
    opacity: 1;
}

.hero_img img {
    background-position: bottom;
}

@media (max-width: 992px) {


}

@media (max-width: 768px) {

 

    .hero_container {
        flex-direction: column;
        padding-top: 150px;
    }

    .hero_text {
        text-align: center;
    }

    .hero_title {
        font-size: 26px;
        text-align: center;
    }

    .hero_buttons {
        gap: 30px;
        flex-direction: column;
    }

    .hero_img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero_img img {
        width: 100%;
    }
}

@media (max-width: 576px) {


}

